## random
.DS_Store
.condor*
*.pdf
*.sub
*.tar.gz
*.pyc
logs/
stability_tests/

## executables
app/augment-tree-with-npy

## everything in run
run/*

## condor dirs
**/err/*.error
**/log/*.log
**/out/*.output
**/sub/*.submit
**/sub/*.err
**/sub/*.out
**/sub/*.output
**/sub/*.lock
**/sub/*.log
**/sub/*.metrics
rxcondor-workspace*/

## fit stuff
**/Fits/
**/Histograms/
**/Plots/
**/RooStats/
**/Tables/
**/Systematics/
**/CorrMatrix.pdf
**/Gammas.pdf
**/Norm*pdf
**/NuisPar*pdf
**/Pruning*
**/SignalRegions.pdf
**/Ranking*pdf
