## random
.DS_Store
.condor*
*.pdf
*.sub
*.tar.gz
logs/
stability_tests/

## executables
app/augment-tree-with-npy

## fit stuff
**/Fits/
**/Histograms/
**/Plots/
**/RooStats/
**/Tables/
**/Systematics/
**/CorrMatrix.pdf
**/Gammas.pdf
**/Norm*pdf
**/NuisPar*pdf
**/Pruning*
**/SignalRegions.pdf
**/Ranking*pdf
