.DS_Store
.condor*
*.sub
*.tar.gz
logs/

**/Fits/
**/Histograms/
**/Plots/
**/RooStats/
**/Systematics/
**/CorrMatrix.pdf
**/Gammas.pdf
**/Norm*pdf
**/NuisPar*pdf
**/Pruning*
**/SignalRegions.pdf
**/Ranking*pdf